<div id="Componentes">
    {{> adminSidebar this }}
    <div id="main">
        {{> navbar}}
        <div class="contentNewcourses">

            <div class="card text-center ">
                <div class="card-header ">
                    <div class="sideButtonAdmin">
                        <span>&#9776;</span>
                    </div>
                    <h3>Administrador de Cursos</h3>

                </div>
                {{> messages}}
                {{> loadScreen}}
                <div id="adminMenu" class="adminMenu" style="height: 100%">

                </div>

            </div>








        </div>
    </div>
</div>