<div id="Componentes">
    <div id="main">
        {{> navbar}}
        <div class="contentMenu">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>Menu Cursos</h3>
                        </div>
                        <div class="card-body">
                            <a href="/administrador/cursos" class="btn btn-primary btn-block">ADMINISTRAR CURSOS</a>
                            <a href="/administrador/profesores" class="btn btn-primary btn-block">ADMINISTRAR PROFESORES</a>
                        </div>
                        <div class="card-footer">
                            <a href="/administrador/menu"class="btn btn-primary btn-block">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>