.contentMenu {
    overflow: auto;
    box-sizing: border-box;

    
    background-color: white;
    --alturaHeader: 6rem;    
    --altura: ;
    width: 100%;
    height:  calc(var(--altura) - 6rem);

    align-items: center;
    flex-direction: column; 
    justify-content: center;
    display: flex;
  }