<div id="adminsidebar">
    <p>Categorias</p>
    <ul class="list-group">

        <li class="list-group-item courseButton">Cursos</li>
        <li class="list-group-item groupButton">Grupos</li>
        <li class="list-group-item categoryButton">Categorias</li>
        <li class="list-group-item periodButton">Periodos</li>

    </ul>
</div>