<div id="adminsidebar">
    <p>Categorias</p>
    <ul class="list-group">

        <li class="list-group-item unitButton" data-value="{{id}}" >Unidades</li>
        <li class="list-group-item listsButton" data-value="{{id}}" >Lista</li>

    </ul>
</div>