<div id="Componentes">
    <div id="main">
        {{> navbar}}
        <div class="contentMenu">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>Menu Administrador</h3>
                        </div>
                        <div class="card-body">
                            <a href="/administrador/cursos" class="btn btn-primary btn-block">ADMINISTRAR
                                CURSOS</a>
                            <a href="/administrador/usuarios"class="btn btn-primary btn-block">ADMINISTRAR DOCENTES</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>