<div class='col-lg-12' style="color: black;">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4>Detalles del usuario</h4>
        <br>
        <h5>ID : {{clave}}</h5>
        <h5>Nombre: {{nombre}}</h5>
        <h5>Puesto: {{puesto}}</h5>
        <h5>Status: {{status}}</h5>

    </div>
</div>