<div class="wrapper">
        
      {{> backgroundLogin}}  
      <div class="fadeInDown" id="formContent">
        <div class="fadeIn first">
          <img
            src="images/playa-logo.png"
            id="icon"
            alt="ALGUN ICONO"
          />
        </div>

        <form action="/"  method="POST">
        {{> messages}}
          <input
            type="text"
            id="idUss"
            class="fadeIn second"
            name="userID"
            placeholder="Numero de asociado"
            required
          />
          <input
            type="text"
            id="password"
            class="fadeIn third"
            name="password"
            placeholder="Contraseña"
            required
          />
           <button class="buttonLogin"> Entrar </button>
          
        </form>

        <div id="formFooter">
        <Link to="/Cursos" class="fadeIn fourth">
        Olvidaste la constraseña?
          </Link>
        </div>
      </div>
     
</div>