<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel</title>

    {{!-- Boostrap 4--}}
    <link rel="stylesheet" href='/css/bootstrap.min.css' />
    <script src="/scripts/complements/jquery3-2-1.js" charset="utf-8"></script>
    <script src="/scripts/complements/popper.js" charset="utf-8"></script>
    <script src="/scripts/complements/bootstrap.js" charset="utf-8"></script>




    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    {{!-- Font-Awesome Icons --}}
    <script src="https://kit.fontawesome.com/0c55dd180f.js" crossorigin="anonymous"></script>
    {{!-- css --}}
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/mycourses.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/newcourse.css">
    <link rel="stylesheet" href="/css/newTeacher.css">
    <link rel="stylesheet" href="/css/menuAdmin.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/adminSidebar.css">
    <link rel="stylesheet" href="/css/topics.css">
    <link rel="stylesheet" href="/css/templates.css">
    {{!--<link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">--}}


</head>

<body>
    {{{ body }}}
    <script src="/scripts/sidebar.js" charset="utf-8"></script>
    <script src="/scripts/screen.js" charset="utf-8"></script>
    <script src="/scripts/filtersUsers.js" charset="utf-8"></script>
</body>


</html>